root=true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true

[*.{java,xml}]
indent_size=4
indent_style=tab

[*.json]
insert_final_newline=false

[*.{md,sql,yml}]
indent_size=2
indent_style=space

[mvnw]
indent_size=8
indent_style=space
