root=true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true

[*.{groovy,java,xml}]
indent_size=4
indent_style=tab
ij_groovy_continuation_indent_size=8
ij_groovy_line_comment_at_first_column=false
ij_java_continuation_indent_size=8
ij_java_line_comment_at_first_column=false
ij_xml_line_comment_at_first_column=false

[*.{env,json,mustache}]
insert_final_newline=false

[*.{md,sql,yaml}]
indent_size=2
indent_style=space

[mvnw]
indent_size=8
indent_style=space
