<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="com.kinlhp" level="TRACE"/>
	<logger name="org.springframework.boot.autoconfigure.condition" level="TRACE"/>
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO"/>
	<logger name="org.testcontainers.utility.RyukResourceReaper" level="ERROR"/>
</configuration>
